<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <head>
    <meta charset="utf-8">
    <title>Generic Insurance</title>
  </head>
  <body>
    <div id="app"/>
    <script src="/static/bundle.js" type="text/javascript"></script>
  </body>
</html>
